@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.navbar {
  padding: 1.25rem 3.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 100px 0px rgb(210, 210, 210);
}
.logo {
  font-weight: bold;
}

.navBarLinks {
  display: flex;
  list-style-type: none;
}
.navBarLinks li a {
  padding: 0.5rem 1.25rem;
  color: rgb(123, 123, 123);
  text-decoration: none;
  margin: 0.15rem;
  font-weight: 500;
  display: block;
}
.navBarLinks .activeLink a {
  color: black;
}

.navBarLinks li a:hover {
  color: black;
  transform: scale(1.02);
}

.btn {
  background-color: #04ddb2;
  color: white;
  padding: 0.85rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

/* rem, em, % */
/* 16px == 1rem */
